@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


:root{
  --primary-color: #2563eb;       /* Bleu principal */
  --primary-dark: #1d4ed8;        /* Bleu foncé*/
  --secondary-color: #64748b;     /* Gris secondaire */
  --success-color: #10b981;       /* Vert succès */
  --warning-color: #f59e0b;       /* Orange avertissement */
  --danger-color:  #ef4444;       /* Rouge erreur */

  --background-color: #f8fafc;    
  --sidebar-bg: #1e293b;          
  --sidebar-hover: #334155;       
  --white: #ffffff;

  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --text-white: #ffffff;

  --border-color: #e2e8f0;

  --shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
  --shadow-md: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);

  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --base-font-size: 16px;
  --line-height: 1.6;

  --space-xs: 0.25rem;  
  --space-sm: 0.5rem;   
  --space-md: 1rem;     
  --space-lg: 1.5rem;   
  --space-xl: 2rem;     
  --space-2xl: 3rem;    
  --space-3xl: 4rem;    

  --rounded-sm: 0.375rem;  
  --rounded: 0.5rem;       
  --rounded-lg: 0.75rem;   
  --rounded-full: 9999px;

  --transition-fast: 0.2s ease;
  --transition-medium: 0.3s ease;
  --transition-slow: 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: var(--line-height);
  color: var(--text-primary);
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: var(--sidebar-bg);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
}

#menu-toggle:checked ~ .sidebar {
  left: 0;
}

#toggle-btn {
  font-size: 24px;
  cursor: pointer;
  color: #333;
  display: none; 
}

.sidebar .logo {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  gap: 3em;
}
.sidebar .logo i {
  font-size: 2rem;
  color: var(--primary-color);
}

.sidebar .menu {
  list-style: none;
  margin-bottom: 17em;
  padding: 1rem;
}

.sidebar .menu li {
  margin-bottom: 1rem;
}

.sidebar .menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-white);
  border-radius: 8px;
  font-size: large;
}

.sidebar .menu a:hover {
  background-color: var(--sidebar-hover);
}

.sidebar .menu a:focus {
  background-color: var(--primary-color);
}

.hr {
  color: var(--border-color);
}

.administration {
  padding: 1.5em;
  background-color: #283445;
  display: flex;
  align-items: center;
  margin: 1em;
  gap: 1em;
  border-radius: 10px;
  cursor: pointer;
}
.administration:hover {
  transform: translateY(2px);
}
.administration h3 {
  font-size: medium;
}
.administration p {
  font-size: small;
}

.avatar1 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.mon_profil {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--sidebar-hover);
  gap: 1em;
  border-radius: 10px;
  margin: 1em;
  cursor: pointer;
}
.mon_profil:hover {
 transform: translateY(2px);
}
.mon_profil a {
  text-decoration: none;
  color: var(--text-white);
  font-size: medium;
}

.Profil {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.Profil:target {
  display: flex;
}

.Profil-content {
    background: #fff;
    border-radius: 10px;
    width: 700px;
    height: 600px;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease;
    overflow-y: scroll;
} 

@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.9);}
    to {opacity: 1; transform: scale(1);}
  } 

  .close {
    float: right;
    text-decoration: none;
    font-size: 22px;
    color: #555;
  }


.enhaut {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.titre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

  .input-group {
    margin: 15px 0;
  }

  .input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    padding-bottom: 1em;
  }

  .input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  .btn2 {
    display: flex;
    justify-content: end;
  }

  /* fin du contenu caché */

.avatar2 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-white);
}
.avatar2 i {
  color: var(--text-secondary);
}

.deconection {
  padding: 1.2em;
  background-color: var(--danger-color);
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  gap: 1em;
  opacity: 0.7;
  border: 1px solid red;
  cursor: pointer;
}
.deconection a {
  text-decoration: none;
  color: white;
}

.deconection:hover {
  opacity: 20;
 transform: translateY(2px);
}

.header {
  position: fixed;
  top: 0;
  left: 350px;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.8rem;
  z-index: 100;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#toggle-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-right .search {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  outline: none;
}

.header-right i {
  font-size: 1.2rem;
  cursor: pointer;
}

.cloch {
  width: 4em;
  cursor: pointer;
  background-size: cover;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--secondary-color);

}

.content {
  margin-left: 350px;
  margin-top: 100px;
  padding: 2rem;
  width: 100%;
  overflow-y: scroll;
}

.content_text {
  line-height: 2;
}
.content_text h1 {
  font-size: 2rem;
}


.grid-4{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap: var(--space-lg); /* 1.5rem */
  margin-top: 1em;
}

.card1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: var(--text-white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}


.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}



.card1_icon {
  background-color: var(--primary-color);
  width: 3.5em;
  height: 3.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}

.card1_text p {
  font-size: 14px;
}

.card2_icon {
  background-color: var(--warning-color);
  width: 3.5em;
  height: 3.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}
.card3_icon {
  background-color: var(--success-color);
  width: 3.5em;
  height: 3.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}
.card4_icon {
  background-color: var(--text-secondary);
  width: 3.5em;
  height: 3.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}
.card5_icon {
  background-color: var(--warning-color);
  width: 3.5em;
  height: 3.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}
.card6_icon {
  background-color: var(--danger-color);
  width: 3.5em;
  height: 3.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}

.card7_icon {
  background-color: #9567F7;
  width: 3.5em;
  height: 3.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}


.stock {
    padding: 20px;
    max-width: 100%;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

  
.stock:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.stock h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px 10px;
    width: 300px;
}

.search-box i {
    color: #a0aec0;
    margin-right: 10px;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
}

.add-product-btn, .export-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.add-product-btn {
    background-color: var(--primary-color); 
    color: white;
}

.export-btn {
    background-color: white;
    color: #4a5568;
    border: 1px solid #e2e8f0;
}

.add-product-btn i, .export-btn i {
    margin-right: 5px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table thead th {
    background-color: #f7fafc;
    color: #718096;
    text-align: left;
    padding: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75em;
    border-bottom: 2px solid var(--border-color);
}

.product-table tbody td {
    padding: 15px;
    border-bottom: 1px solid #edf2f7;
    font-size: 0.9em;
}


.product-details {
    display: flex;
    align-items: center;
    gap: 1em;
}

.product-details_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2em;
  height: 2em;
  background-color: var(--border-color);
  border-radius: 5px;
}

.product-icon {
    font-size: 1em;
    color: #4a5568;
    width: 30px; 
}

.product-details strong {
    display: block;
    color: #2d3748;
    font-weight: 600;
    margin-bottom: 2px;
}

.product-details span {
    display: block;
    color: #a0aec0;
    font-size: 0.85em;
}

.badge {
    padding: 4px 10px;
    border-radius: 9999px; 
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.badge-active {
    background-color: #f0fdf4; 
    color: #38a169;
}


.badge-low-stock {
    background-color: #fffaf0; 
    color: #d69e2e;
}

.badge-laptop {
    background-color: #ebf8ff; 
    color: #2b6cb0;
}

.badge-smartphone {
    background-color: #f0fdf4; 
    color: #38a169;
}

.badge-audio {
    background-color: #fffaf0; 
    color: #d69e2e;
}

.badge-tablette {
    background-color: #f0f5ff; 
    color: #4c51bf;
}

.badge-tv {
    background-color: #ffeef2; 
    color: #e53e3e;
}

.stock-level {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 0.85em;
}

.stock-good {
    background-color: #f0fdf4; 
    color: #38a169;
}

.stock-moderate {
    background-color: #fff3e0; 
    color: #ff9800;
}

.stock-low {
    background-color: #fecaca; 
    color: #c53030;
}

.actions-icons {
    display: flex;
    gap: 15px;
    font-size: 1.1em;
    color: #a0aec0;
}

.action-icon {
    cursor: pointer;
}

.action-icon:hover {
    color: #4a5568;
}

.pourcentage_positive {
  background-color: #7ef4af57; 
  color: green;
  padding: 4px 10px;
  border-radius: 6px;
}
.pourcentage_negative {
  background-color: #f0a1a1a0;
  color: var(--danger-color);
  padding: 4px 10px;
  border-radius: 6px;
}

.charte {
  display: flex;
  width: 100%;
  margin: 20px auto;
  gap: 2em;
  
}


.evolution_des_vente {
  width: 60%;
  transition: all 0.5s ease;
}

.evolution_des_vente:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.entete {
  background-color: #f7fafc;
  padding: 1.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid var(--border-color);
}

.entete_button {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    color: #4a5568;
    border: 1px solid #e2e8f0;
    margin-top: 1em;
}

.entete_button i {
    margin-left: 10px;
}

.body {
  padding: 2em;
  background-color: var(--text-white);
  border: 1px solid var(--border-color);
  
}

.carte {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  gap: 10px;
}

.carte1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
}
.carte1:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--main-color);
  cursor: pointer;
}

.Jan {
  width: 3em;
  height: 20px;
  background: linear-gradient(160deg, #66A9FA, #2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.carte1_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span1 {
  font-size: 12px;
}
.span2 {
  font-size: 12px;
  font-weight: bold;
  color: var(--primary-color);
}


.Fev {
  width: 3em;
  height: 60px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Mar {
  width: 3em;
  height: 54px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Avr {
  width: 3em;
  height: 80px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Mai {
  width: 3em;
  height: 70px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Jun {
  width: 3em;
  height: 88px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Jul {
  width: 3em;
  height: 70px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Aou {
  width: 3em;
  height: 140px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Sept {
  width: 3em;
  height: 110px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Oct {
  width: 3em;
  height: 90px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Nov {
  width: 3em;
  height: 140px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Dec {
  width: 3em;
  height: 125px;
  background: linear-gradient(160deg,#66A9FA,#2F73EA);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.pied {
  display: flex;
  gap: 2em;
  background-color: #f7fafc;
  padding: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--border-color);
}

.legend1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.legend2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.bleu {
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.vert {
  width: 10px;
  height: 10px;
  background-color: #10b981;
  border-radius: 50%;
}

.reparation_par_categorie {
  width: 40%;
  transition: all 0.5s ease;
}


.reparation_par_categorie:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.bodye {
  padding: 2.5em;
  background-color: var(--text-white);
  border: 1px solid var(--border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.un {
  padding-bottom: 1em;
}

.un_text{
  display: flex;
  justify-content: space-between;
  
}
.un_text span{
  color: var(--primary-color);
  font-weight: bold;
}

.pourcentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.pourcent {
  width: 35em;
  height: 10px;
  background-color: var(--border-color);
  border-radius: 4px;
}

.produit {
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}


.produit:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.rang1 {
  width: 1.5em;
  height: 1.5em;
  background-color: var(--warning-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  font-weight: bold;
}

.rang2 {
  width: 1.5em;
  height: 1.5em;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  font-weight: bold;
}

.rang3 {
  width: 1.5em;
  height: 1.5em;
  background-color: #AC6409;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  font-weight: bold;
}


.status {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;
  background-color: var(--text-white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  margin: 40px auto;
}

.status:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.filtre-item {
  display: flex;
  flex-direction: column;
}

.filtre-item label {
  margin-right: 5px; 
  font-weight: 500;
  color: #444;
}

select, 
input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

select:focus,
input[type="text"]:focus {
  border-color: #2c7efb;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.6em;
}

.recherche input {
  width: 220px;
}

.recherche button {
  background-color: #2c7efb;
  border: none;
  color: white;
  padding: 9px 13px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recherche button:hover {
  background-color: #1f66d1;
}

.commande {
  width: 100%;
  align-items: center;
  gap: 2em;
  background-color: var(--text-white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  margin: 40px auto;
}

.commande:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.commande_text {
  display: flex;
  justify-content: space-between;
}

.partie1 span {
  font-size: small;
}
.partie2 span {
  font-size: small;
}
.partie2 p {
  font-weight: bold;
  color: var(--primary-color);
}

.commande_milieu {
  background-color: var(--border-color);
  padding: 1em;
  border-radius: 6px;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.commande_milieu span {
  font-size: small;
}

.money {
  color: var(--primary-color);
  font-weight: bold;
}

.commande_fin {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.voir_detail-btn {
    padding: 11px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--primary-color); 
    color: white;
    text-decoration: none;
}
.Filtrer-btn {
    padding: 11px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--primary-color); 
    color: white;
    margin-top: 2em;
}

.Filtrer-btn:hover {
    background-color: var(--primary-dark);
}

.Traiter-btn {
    padding: 11px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--border-color); 
}


.Traiter-btn:hover {
    background-color: var(--secondary-color);
}
.expedier-btn {
    padding: 11px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #0AA6E4; 
    color: white;
}

.expedier-btn:hover {
    background-color: transparent;
    color: grey;
    border: 1px solid gray;
}

.Alert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2em;
  background-color: var(--text-white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  margin: 40px auto;
  border-left: 4px solid var(--danger-color);
}

.Alert1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2em;
  background-color: var(--text-white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  margin: 40px auto;
  border-left: 4px solid var(--primary-color);
}

.Alert2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2em;
  background-color: var(--text-white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  margin: 40px auto;
}
   

.Alert:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.cercle_icon {
  width: 2em;
  height: 2em;
  background-color: var(--danger-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.cercle_icon1 {
  width: 2em;
  height: 2em;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
}
.cercle_icon2 {
  width: 2em;
  height: 2em;
  background-color: var(--success-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
}
.cercle_icon3 {
  width: 2em;
  height: 2em;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
}
.cercle_icon4 {
  width: 2em;
  height: 2em;
  background-color: var(--warning-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
}

.flex {
  display: flex;
  justify-content: space-between;
} 

.Alert_text {
  width: 100%;
}

.Alert_btn {
  margin-top: 1em;
}

.Alert_btn1 {
    padding: 11px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--border-color); 
}

.Alert_btn2 {
    padding: 11px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: whitesmoke; 
}
.Alert_btn3 {
    padding: 11px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--primary-color); 
    color: white;
}
.Alert_btn4 {
    padding: 11px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #53acd9; 
    color: white;
}
.Alert_btn5 {
    padding: 11px 15px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: grey;
}

.checbox {
  display: flex;
  gap: 1em;
}

.paramètre {
  width: 100%;
  margin: 20px auto;
  transition: all 0.5s ease;
}

.paramètre:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.notif {
  width: 100%;
  background-color: var(--text-white);
  border: 1px solid var(--border-color);
  padding: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4285f4; 
}

input:checked + .slider::before {
  transform: translateX(24px);
}


.bouttons {
  display: flex;
  gap: 1em;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.status1 {
  width: 100%;
  display: flex;
  gap: 2em;
  background-color: var(--text-white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  margin: 40px auto;
}

.status1:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--shadow-lg);
  cursor: pointer;
}

.vente_mois_flex {
  display: flex;
  justify-content: center;
  gap: 1em;
} 


.vente_mois_flex h3 {
  color: var(--primary-color);
  font-weight: bold;
}
.vente_mois_flex span {
  color: var(--secondary-color);
  font-size: small;
}

.div1 {
  padding-bottom: 4em;
}

.voir_detail-btn_text {
  margin-top: 2em;
  padding-bottom: 30px;
}
.voir_detail-btn_text h3 {
  padding-bottom: 10px;
}
.voir_detail-btn_text hr {
  border: 1px solid var(--primary-color);
}

.voir_detail-btn_text1 {
  padding-bottom: 1em;
}
.voir_detail-btn_text1 p {
  color: black;
  font-weight: bold;
}
.voir_detail-btn_text1 span {
  font-size: small;
}

.voir_detail-btn_text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.voir_detail-btn_text2 :nth-child(1) {
  font-weight: bold;
}
.voir_detail-btn_text2 :nth-child(2) {
  color: var(--primary-color);
  font-weight: bold;
}


/* RESPONSIVE  */

@media  (max-width: 768px) {

  body {
    flex-direction: column;
  }
  
  .sidebar {
    position: fixed;
    left: -350px;
    transition: left 0.3s ease;
    z-index: 200;
  }

  #menu-toggle:checked ~ .sidebar {
    left: 0;
  }

  #toggle-btn {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .header {
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .header h1 {
    font-size: 1rem;
  }

  .content {
    margin-left: 0;
    margin-top: 80px;
    padding: 1rem;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }


  .actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }


  .Profil-content {
    width: 90%;
    height: auto;
    max-height: 90vh;
  }

  .actions-icons {
    margin-top: 2em;

  }

  .charte {
    display: flex;
    flex-direction: column;

  }

  .evolution_des_vente {
    width: 100%;
  }

  .reparation_par_categorie {
    width: 100%;
  }

  .product-table {
    width: 100%;
    font-size: small;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:1024px){
  .grid-4{ grid-template-columns: repeat(2,1fr); gap: var(--space-md); }

  .sidebar {
    height: 100vh;
  }
}
@media (max-width:1440px){

  .sidebar {
    height: 100vh;
  }
}
@media (max-width:480px){
  .grid-4{ grid-template-columns: 1fr; gap: var(--space-md); }
}